<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
  <title>Boilerplate</title>
  <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>

  {% block main %}
  {% endblock %}

  {% for asset in assets %}
    <script type="text/javascript" src="{{ asset }}"></script>
  {% endfor %}

  <script>
  $(function(){
  	$button = $('[data-send]');

  	$button.on('click', function(){
		$.ajax({
		  method: "POST",
		  url: "/api/markdown",
		  data: { name: "John", location: "Boston" }
		}).done(function( msg ) {
				console.log(msg);
		    $('textarea').text(msg)
		  });
  	});
  });
  </script>
</body>
</html>